<div class="comment-block">
    {% raw %}
    <div id="comments" class="comments">
        <h3 class="comments__header-title">Комментарии</h3>
        <!--<button class="btn comments__button">Показать ещё</button>-->
        {% endraw %}
        {{ larakit_comments(model)|raw }}
        {% raw %}
        <div id="comments-form" class="comments__form">
            <form class="comments__form-item" action="" v-on:submit.prevent>
                <div class="comments__form-input-wrapper">
                    <textarea class="comments__form-input comments__form-text" type="text"
                              placeholder="Написать комментарий..." v-model="comment"></textarea>
                    <!--<i class="fa fa-picture-o comments__form-input-pic" aria-hidden="true"></i>-->
                </div>
                <div class="comments__form-send">
                    <button class="btn comments__form-submit" type="button"
                            v-show="comment"
                            @click="addComment">Отправить
                    </button>
                </div>
            </form>
        </div>
        <div class="comments__refresh" @click="refreshComments">
            <i class="fa fa-refresh" :class="{ 'fa-spin': isLoading }" aria-hidden="true"></i>
        </div>
    </div>
    <template id="comments-wrapper">
        <div>
            <comment v-for="comment in $root.comments" :model="comment"></comment>
        </div>
    </template>
    <template id="comment-template">
        <div class="comments__item" :class="$root.latestCommentsClass(model.id)">
            <div class="comments__avatar">
                                    <span class="comments__avatar-item"
                                          :style="{'background-color': model.author.thumb_color}">{{ model.author.thumb }}</span>
            </div>
            <div class="comments__content">
                <div class="comments__title">
                    <div class="comments__from">
                        <a class="comments_anchor" :id="'c' + model.id"></a>

                        <a v-on:click.prevent href="#" @click="$root.toComment('#c' + model.id)">
                            <div class="comments__from-title">{{ model.author.name }} [{{ model.author.city }}]</div>
                        </a>
                    </div>
                    <div class="comments__to" v-if="model.reply">
                        <i class="fa fa-long-arrow-right comments__to-arrow" aria-hidden="true"></i>
                        <a href="#"
                           v-on:click.prevent
                           @click="$root.toComment('#c' + model.reply_id)">
                            <div class="comments__to-title" v-if="model.reply">{{ model.reply.author.name }} [{{ model.reply.author.city }}]
                            </div>
                        </a>
                    </div>
                </div>
                <div class="comments__content-item" v-html="model.comment">
                </div>
                <div class="comments__footer">
                    <time class="comments__time">{{ model.dt }}</time>
                    <a class="comments__send" href="#"
                       v-on:click.prevent
                       @click="openAnswerForm">Ответить </a>
                    <a class="comments__send" href="#"
                       v-on:click.prevent
                       @click="deleteComment" v-if="model.is_my">Удалить</a>
                    <a class="comments__send" href="#"
                       v-on:click.prevent
                       @click="openStat"><i class="fa fa-balance-scale" aria-hidden="true"></i>
                    </a>

                    <div class="comments__vote">
                        <span class="comments__vote-minus" @click="$root.voteDown(model.id)">{{ vote_minus }}</span>
                        <span class="comments__vote-plus" @click="$root.voteUp(model.id)">{{ vote_plus }}</span>
                    </div>
                </div>
                <div class="comments__stat" v-if="open_stat">
                    <div class="comments__stat-row">
                        <div class="comments__stat-left">
                            <ul class="comments__stat-list comments__stat-list_down">
                                <li class="comments__stat-item"
                                    v-if="vote.vote == -1"
                                    v-for="vote in model.votes">{{ vote.author_name }}
                                </li>
                            </ul>
                        </div>

                        <div class="comments__stat-right">
                            <ul class="comments__stat-list comments__stat-list_up">
                                <li class="comments__stat-item"
                                    v-if="vote.vote == 1"
                                    v-for="vote in model.votes">{{ vote.author_name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <reply :reply="model" v-if="open_answer"></reply>
            </div>
        </div>
    </template>
    <template id="comment-form">
        <div class="comments__form">
            <form class="comments__form-item" action="" v-on:submit.prevent>
                <div class="comments__form-input-wrapper">
                    <textarea class="comments__form-input comments__form-text" type="text"
                              placeholder="Написать комментарий..."
                              v-model="reply_comment"
                              v-focus></textarea>
                    <!--<i class="fa fa-picture-o comments__form-input-pic" aria-hidden="true"></i>-->
                </div>
                <div class="comments__form-send" v-show="reply_comment">
                    <button class="btn comments__form-submit" type="button" @click="addReply">Отправить
                    </button>
                    <div class="comments__form-answer">
                        <span class="comments__form-text">ответ</span>

                        <div class="comments__form-label">{{ reply.author.name }}
                            <i class="fa fa-times comments__form-label-close"
                               aria-hidden="true"
                               @click="$parent.openAnswerForm"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </template>
    {% endraw %}
    {#                    {% raw %}
                            <div id="hypercomments_widget"></div>
                            <script type="text/javascript">
                                _hcwp = window._hcwp || [];
                                _hcwp.push({
                                    widget: "Stream",
                                    widget_id: 69897
                                });
                                (function () {
                                    if ("HC_LOAD_INIT" in window)return;
                                    HC_LOAD_INIT = true;
                                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                                    var hcc = document.createElement("script");
                                    hcc.type = "text/javascript";
                                    hcc.async = true;
                                    hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/69897/" + lang + "/widget.js";
                                    var s = document.getElementsByTagName("script")[0];
                                    s.parentNode.insertBefore(hcc, s.nextSibling);
                                })();
                            </script>
                            <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by
                                HyperComments</a>
                        {% endraw %}#}
</div>